{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded">
    {{form_start(trickform)}} 
		<div class="header-trick pt-5">
			<div class="default-img-trick" style="background-image:url('{{asset("images/default-img.jpg")}}');">
				<div class="overlay">
					<div class="container">
						<div class="trick-buttons mt-2">
							{{form_row(trickform.poster, {'label' : 'pick a picture', 'label_attr':{'class' :' text-white '},'attr':{'class' :  'form-control text-uppercase'}})}}
						</div>
						</div>
						<div class="trick-name  input-group-lg">
							{{form_row(trickform.name, {'label' : false,'attr':{'class' :  'form-control  text-uppercase','placeholder':'Trick name'}})}}
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="content-trick mt-4">
            {# --------------------Gallery names--------------------- #}
            <section id="gallery">
                <div class="row container justify-content-center">
                    <div id="new-media">
                        <ul class="videos" 
                            data-index="{{ trickform.videos|length > 0 ? trickform.media|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(trickform.videos.vars.prototype)|e('html_attr') }}">                        
                        </ul>
                        <ul class="images" 
                            data-index="{{ trickform.videos|length > 0 ? trickform.media|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(trickform.images.vars.prototype)|e('html_attr') }}">                        
                        </ul>
                        {# {{ form_widget(trickform.media.vars.prototype.name, {'attr':{'class' :  'form-control add_media_list'}}) }}                         #}
                    {# {{ form_widget(trickform.videos.vars.prototype.name, {'attr':{'class' :  'form-control add_video_list'}}) }}
                    {{ form_widget(trickform.images.vars.prototype.name, {'attr':{'class' :  'form-control add_image_list'}}) }}  #}
                    
                    </div>                    
                </div>
            </section>
            {# responsive section  #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
            <section class="row mx-auto col-8 pb-5">
                <div class="form-floating my-4">
                    {{form_row(trickform.content, {'label' : false,'attr':{'class' :  'form-control' }})}}
                </div>                   
                <div class="trick-group">
                    <div class="form-floating col-6 my-3">                        
                        {{ form_row(trickform.groupTrick,{'label' : false,'attr':{'class' :  'form-select'} })}}
                    </div>
                    <div class="my-3">
                        <button type="submit" class="btn btn-success btn-sm mx-2">Save</button>                        
                    </div>
                </div>
            </section>                    
        </div>
    {{form_end(trickform)}}        
</div>
<script>
const addImage = document.createElement('a')
addImage.classList.add('btn','btn-success')
addImage.href='#'
addImage.innerText='Ajouter Image'
addImage.dataset.collectionHolderClass='images'

const newLinkLi = document.createElement('li').append(addImage)

const collectionHolder = document.querySelector('ul.images')
collectionHolder.appendChild(addImage)

const addFormToCollection = (e) => {
	const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

      const item = document.createElement('li');

      item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
          /__name__/g,
          collectionHolder.dataset.index
        );

      collectionHolder.appendChild(item);

      collectionHolder.dataset.index++;
}

addImage.addEventListener("click", addFormToCollection)
</script>
{% endblock %}