{% extends 'base.html.twig' %}



{% block body %}
	<div class="container bg-light rounded">
		<div class="header-trick pt-5">
			<div class="default-img-trick" style="background-image:url('{{asset("images/default-img.jpg")}}');">
				<div class="overlay">
					<div class="container">
						<div class="trick-buttons mt-2">
						{% if not app.user %}
							<a href="{{ path('updatetrickpage',{'slug' : trick.slug })}}" class="btn btn-info btn-sm mx-2">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<a href="#" class="btn btn-danger btn-sm mx-2">
								<i class="bi bi-trash3-fill"></i>
							</a>
						{% endif %}
						</div>
						<div class="trick-name">
							<h1 class="mx-auto my-4 text-uppercase text-light">{{trick.name}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		{# --------------------Gallery links--------------------- #}
		<div class="content-trick mt-4">		
            <section id="gallery">
                <div class="row  justify-content-center">
					{% for image in trick.images %}
                        {# Video Name #}						
						<div class="col-lg-3">
							<div class="trick-media-card mx-4">                            
								<img src="{{asset('images/'~image.name)}}" class="w-100 rounded my-2"/>								
							</div>
						</div>
					{% endfor %}
							
                    {% for video in trick.videos %}
                        						
						<div class="col-lg-3">
							<div class="trick-media-card mx-4">                          
								<iframe class="w-100 rounded ratio ratio-16x9 my-2" src={{video.name}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					{% endfor %}
				</div>
            </section>
            {# responsive section  #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
			{# --------------------END Gallery links--------------------- #}
			<div class="content my-4"><p class="fw-bold"><h3>Trick description :</h3></p>  <p>{{trick.content}}</p></div>
			<div class="d-flex justify-content-evenly mb-4">
				<h2>
					<span class="badge bg-secondary ">{{trick.groupTrick}}</span>
				</h2>
				<div class="badge text-bg-dark">
					<h3>Création le : {{trick.createdAt|date('d/m/Y')}}</h3>
				</div>
			</div>
		</div>

		<!--Comment section -->
		<section class="mb-5 pb-2">
			{% include 'comment/comment_trick.html.twig' %}	
		</section>
	</div>
{% endblock %}
