{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded">
    {{form_start(trickform)}}
        {# Include Hero & Featured Image #}
		{% include 'trickpage/trickTemplate/_header.html.twig'with {'edit': true }  %}
        {# --------------------Gallery links--------------------- #}
        <div class="content-trick mt-4">		
            <section id="gallery">
                {# {% include 'trickpage/trickTemplate/_gallery.html.twig'with {'update': true }  %} #}
                <div class="row  justify-content-center">                    
                    {% for image in trickform.images %}
                        <div class="col-3">
                            {% set index = loop.index %}                        
                            {{ form_widget(image.name) }}
                            <img src="{{asset('images/'~trick.images[index-1].name)}}" class="card-img-top gallery-item" alt="Snowboard trick"/>
                        </div>
                    {% endfor %}
                    
                    {% for video in trickform.videos %}
                        <div class="col-3">
                            {% set index = loop.index %}                        
                            {{ form_widget(video.name) }}
                            <iframe class="w-100 rounded ratio ratio-16x9 gallery-item" src="{{trick.videos[index-1].name}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                    
                </div>
            </section>
            {{ include("trickpage/_modal.html.twig")}}
            {# responsive section  #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
            <section class="row mx-auto col-8 pb-5">
                <div class="form-floating my-4">                    
                    {{form_row(trickform.content, {'label' : false,'attr':{'class' :  'form-control' }})}}
                </div>                   
                <div class="trick-group">
                    <div class="form-floating col-6">
                        {{ form_row(trickform.groupTrick,{'label' : false,'attr':{'class' :  'form-select'} })}}
                </div>
                <div class="my-3">
                    <button type="submit" class="btn btn-success btn-sm mx-2">Save</button>                    
                    <a href="#" class="btn btn-danger btn-sm mx-2">Delete</a>
                </div>                
            </section>                 
        </div> 
    {{form_end(trickform)}}          
</div>

{% endblock %}