{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded">
    {{form_start(trickform)}}
		<div class="header-trick pt-5">
			<div class="default-img-trick" style="background-image:url('{{asset("images/default-img.jpg")}}');">
				<div class="overlay">
					<div class="container">
						<div class="trick-buttons mt-2">
							{{form_row(trickform.poster, {'label' : 'pick a picture', 'label_attr':{'class' :' text-white '},'attr':{'class' :  'form-control text-uppercase'}})}}
						</div>
						</div>
						<div class="trick-name  input-group-lg">
							{{form_row(trickform.name, {'label' : false,'attr':{'class' :  'form-control  text-uppercase'}})}}
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="content-trick mt-4">
            {# --------------------Gallery links--------------------- #}
            <section id="gallery">
                <div class="row  justify-content-center g-0">
                    {% for image in trick.images %}                        
                        <div class="col-lg-3">
							<div class="trick-media-card mx-4">                                                    
								<img src="{{asset('images/'~image.name)}}" class="w-100 rounded my-2"/>
                                <div class="modification text-center mb-2">
                                    <a href="#" class="btn btn-danger btn-sm mx-2"><i class="bi bi-trash3-fill"></i></a>
                                    <a href="#exampleModal0" class="btn btn-info btn-sm mx-2" data-toggle="modal" data-target="#exampleModal0"><i class="bi bi-pencil-fill"></i></a>                            
                                </div> 
                            </div>
                        </div>                        
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="col-lg-3">
                            <iframe class="w-100 rounded ratio ratio-16x9 my-2" src={{video.name}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="modification text-center mb-2">
                                <a href="#" class="btn btn-danger btn-sm mx-2"><i class="bi bi-trash3-fill"></i></a>
                                <a href="#exampleModal0" class="btn btn-info btn-sm mx-2" data-toggle="modal" data-target="#exampleModal0"><i class="bi bi-pencil-fill"></i></a>                            
                            </div>
                        </div>
                    {% endfor %}                    
                </div>
            </section>
            {# responsive section  #}
            <section id="see-media">
                <div class="button-load-more text-center mb-5">
                    <a href="" class="btn btn-sm rounded text-light bg-dark px-5 py-3" >See media</a>
                </div>
            </section>
            <section class="row mx-auto col-8 pb-5">
                <div class="form-floating my-4">                    
                    {{form_row(trickform.content, {'label' : false,'attr':{'class' :  'form-control' }})}}
                </div>                   
                <div class="trick-group">
                    <div class="form-floating col-6">
                        {{ form_row(trickform.groupTrick,{'label' : false,'attr':{'class' :  'form-select'} })}}
                    </div>
                    <div class="my-3">
                        <a href="#" class="btn btn-success btn-sm mx-2">Save</a>
                        <a href="#" class="btn btn-danger btn-sm mx-2">Delete</a>
                    </div>
                </div>
            </section>                 
        </div> 
    {{form_end(trickform)}}          
</div>

{% endblock %}