{% extends 'base.html.twig' %}

{% block body %}
	<div class="container form-container">
		{% for message in app.flashes('error') %}
            <div class="alert alert-danger my-3">
                {{ message }}
            </div>
        {% endfor %}
		<div class="row my-5">
			<div class="card cascading-right col-6 mx-auto text-center border">
				<!--Gestion des erreurs -->
				{# {% if error != empty %}<div class="alert alert-danger">{{ error }}</div>{% endif %} #}
				<!--END Gestion des erreurs --><h2 class="fw-bold my-5"> Reset Password</h2>
				{{form_start(formReset)}}		
					<!-- Password input -->
					<div class="form-outline mb-3">
						{{form_row(formReset.password, 
						{'label' : 'Password',
						  'attr':{'class' :  'form-control'}})}}
					</div>
					<!-- Submit button -->
					<button type="submit" class="btn btn-primary btn-block mb-2">
						Reset
					</button>
				{{form_end(formReset)}}
			</div>
		</div>
	</div>
{% endblock %}
