<div
	class="header-trick pt-5">
	{# Test if Trick exist, if not put the default image on hero trick #}
	{% if trick.featuredImage is not null %}
		<div class="default-img-trick" style="background-image:url('{{asset('images/'~trick.featuredImage)}}');">
		{% else %}
			<div class="default-img-trick" style="background-image:url({{asset(defautlFeaturedImage)}});">
			{% endif %}

			<div class="overlay">
				<div
					class="container">
					{# In Edit show  Form elements #}
					{% if edit %}
						<div
							class="trick-buttons mt-2">
							{# field featured image #}
							{{form_row(trickform.featuredImage, 
                            {'label' : 'Featured Image',
                             'label_attr':{'class' :' text-white '},
                             'attr':{'class' :  'form-control'}})}}
						</div>
						<div class="trick-name  input-group-lg">
							{{form_row(trickform.name, {'label' : false,'attr':{'class' :  'form-control'}})}}
						</div>
						{# If User log show modification button Modification/Delete #}
					{% elseif not app.user %}
						<div class="trick-buttons mt-2">
							<a href="{{ path('update_trick',{'slug' : trick.slug })}}" class="btn btn-info btn-sm mx-2">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<a href="#" class="btn btn-danger btn-sm mx-2">
								<i class="bi bi-trash3-fill"></i>
							</a>
						</div>
						<div class="trick-name">
							<h1 class="mx-auto my-4 text-uppercase text-light">{{trick.name}}</h1>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
